* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: block;
}
body{
    position: relative;
    display: block;
}
header {
    font-size: 1.5rem;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0.5em 1em;
    background: #333;
}

span a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }

.name{
    float: left;
    color: white;
    padding: 14px 16px;
}
ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
li a:hover {
    background-color: #111;
  }

  .main {
    height: calc(100vh - 55px);
}

section{
    display: block;
}
.center-content {
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
}

